<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}The Market{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Parisienne|Old+Standard+TT|Alegreya+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width; initial-scale=1, maximum-scale=1">
    <meta charset="utf8">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<a href="/">
	  <h1>The Market</h1>
	</a>
	<p>42 Avenue Road<br>Columbus, Ohio</p>
      </div>
      <div id="nav">
        <ul>
	  <li><a href="/menus">Menus</a></li>
	  <li><a href="/service">Service</a></li>
	  <li><a href="/catering">Catering</a></li>
	  <li><a href="/events">Events</a></li>
	</ul>
      </div>
      <div id="body">
        <div id="links">
	  {% block links %}{% endblock %}
	</div>
	<div id="content">
	  {% block content %}{% endblock %}
	</div>
	<div id="sidebar">
	  {% block images %}{% endblock %}
	</div>
      </div>
      <div id="footer">
        <ul>
	  <li><a href="#" id="edit">Edit</a></li>
	  <li><a href="#">Legal</a></li>
	  <li><a href="#">Contact</a></li>
	</ul>
      </div>
    </div>
    <script src="/lib.js"></script>
  </body>
</html>

