{% extends "base.html" %}
{% block title %}The Market | {{ menu_title }} Menu{% endblock %}<
{% block links %}
  <h2>Menus</h2>
  <ul data-list="">
    {% for menu_key, menu in menus.iteritems() %}
    <li>
      <a data-text="[{{ menu_key }}][menu_title]" href="/menu/{{ menu_key }}">{{ menu.menu_title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block content %}
  <h2 data-text="[{{ menu_key }}][menu_title]">{{ menu_title }}</h2>
  <p data-text="[{{ menu_key }}][summary]">{{ summary|safe }}</p>
  <ul data-list="[{{ menu_key }}][items]">
    {% for item in items %}
      <li><h3 data-text="[{{ menu_key }}][items][{{ loop.index - 1 }}][name]">{{ item.name|safe }}</h3>
	  <span class="desc" data-text="[{{ menu_key }}][items][{{ loop.index - 1 }}][description]">
	    {{ item.description|safe }}
	  </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block images %}
  <ul data-list="[{{ menu_key }}][images]">
    {% for image in images %}
      <li class="block{{ images|length }}">
        <img alt="" data-src="[{{ menu_key }}][images][{{ loop.index - 1 }}]" src="{{ image }}">
      </li>
    {% endfor %}
  </ul>
{% endblock %}

