{% extends "base.html" %}
{% block title %}The Market | {{ menu_title }} Menu{% endblock %}<
{% block links %}
  <h2>Menus</h2>
  <ul>
    <li><a href="/menu/butcher">Butcher</a></li>
    <li><a href="/menu/deli">Deli</a></li>
    <li><a href="/menu/bakery">Bakery</a></li>
    <li><a href="/menu/cafe">Cafe</a></li>
    <li><a href="/menu/restaurant">Restaurant</a></li>
    <li><a href="/menu/bar">Bar</a></li>
    <li><a href="/menu/retail">Retail</a></li>
    <li><a href="/menu/produce">Produce</a></li>
  </ul>
{% endblock %}
{% block content %}
  <h2 data-link="[{{ menu_key }}][menu_title]">{{ menu_title }}</h2>
  <p data-link="[{{ menu_key }}][summary]">{{ summary|safe }}</p>
  <ul>
    {% for item in items %}
      <li><h3 data-link="[{{ menu_key }}][items][{{ loop.index - 1 }}][name]">{{ item.name|safe }}</h3>
	  <span class="desc" data-link="[{{ menu_key }}][items][{{ loop.index - 1 }}][description]">
	    {{ item.description|safe }}
	  </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block images %}
    {% for image in images %}
      <li class="block{{ images|length }}">
        <img alt="" data-link="[{{ menu_key }}][images][{{ loop.index - 1 }}]" src="{{ image }}">
      </li>
    {% endfor %}
{% endblock %}

