{% extends "base.html" %}
{% block title %}The Market | {{ menu_title }} Menu{% endblock %}<
{% block links %}
  <h2>Menus</h2>
  <ul>
    <li><a href="/menu/butcher">Butcher</a></li>
    <li><a href="/menu/deli">Deli</a></li>
    <li><a href="/menu/bakery">Bakery</a></li>
    <li><a href="/menu/cafe">Cafe</a></li>
    <li><a href="/menu/restaurant">Restaurant</a></li>
    <li><a href="/menu/bar">Bar</a></li>
    <li><a href="/menu/retail">Retail</a></li>
    <li><a href="/menu/produce">Produce</a></li>
  </ul>
{% endblock %}
{% block content %}
  <h2>{{ menu_title }}</h2>
  <p>{{ summary|safe }}</p>
  <ul>
    {% for item in items %}
      <li><h3>{{ item.name|safe }}</h3>
	  <span class="desc">
	    {{ item.description|safe }}
	  </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block images %}
    {% for image in images %}
      <li class="block{{ 3 if images|length == 1 else 1 }}">
        <img alt="" src="{{ image }}">
      </li>
    {% endfor %}
{% endblock %}

